body {
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    width: 50%;
}

form, button, input {
    margin: auto;
}

table {
    width: 100%;
}

td {
    width: 33%;
    position: relative;
    left: 0;
    display: inline-block;
}